* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #180632;
    color: white;
    font-family: monospace;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: x-large;
}

.navbar_container{
    padding: 0;
    width: 100%;
}

.navbar {
    background-color: #280659;
    overflow: hidden;
    width: 100%;
}

.navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-width: 40%;
}

.navbar ul li{
    float: right;
}

.navbar ul li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    display: block;
    padding: 14px;
}

.navbar ul li:hover{
    background-color: #4a1ba8;
}

.row{
   padding: 10px;
   border-radius: 5px;
   border: 20px;
   min-width: 95%;
   /*background-color: #341671;*/
   text-align: left;
   margin-bottom: 20px;
}

.dropdowns{
    color: black;
    height: 35px;
    width: 100%;
    font-size: 20px;
    margin-bottom: 5px;
}

.vis_div {
    padding: 10px;
    margin-bottom: 10px;
}

.vis_div h2 {
    font-size: 30px;
}

.graphs {
    background-color: #180632;
}