* {
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    background-color: #180632;
    color: white;
    font-family: monospace;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    padding-top: 15%;
    padding-bottom: 15%;
}


@media screen and (max-width: 500px){
    body {
        padding-top: 50%;
        padding-bottom: 50%; 
    }
}


h1 {
    font-size: 65px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

#content_btns {
    display: flex;
    flex-direction: row;
}


@media screen and (max-width: 600px) {
    #content_btns {
        flex-direction: column;
    }
}


.links{
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px; 
    border-radius: 5px;
    border-color: white;
    margin-right: 20px;
    width: 200px;
}

a {
    text-decoration: none;
    color: black;
    font-family: monospace;
    font-size: 25px;
    font-weight: 600;
}

button:hover {
    background-color: #4f179e;
}

button:hover a {
    color: white;
}