* {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #180632;
    font-family: monospace;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}