* {
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    background-color: #180632;
    color: white;
    font-family: monospace;
}

h1 {
    font-size: 65px;
}

h3 {
    font-size: 25px;
}

/*navbar section*/

.navbar {
    background-color: #280659;
    overflow: hidden;
    width: 100%;
}

.navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-width: 40%;
}


@media screen and (max-width: 600px){
    .navbar ul {
        display: flex;
        flex-direction: column;
    }
}

.navbar ul li{
    float: right;
}

.navbar ul li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    display: block;
    padding: 14px;
}

.navbar ul li:hover{
    background-color: #4a1ba8;
}


.page {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
}

/*makes sure content is in the middle of the page*/
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

p {
    font-size: large;
    /*disclaimer must be centered*/
    margin: 0 auto;
    justify-self: center;
}

/*form section*/

#search_container {
    width: 80%;
    display: flex;
    flex-direction: column;
}

#search_container h3:hover {
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

#filters{
    width: 100%;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    display: none;
    flex-direction: row;
}

@media screen and (max-width: 900px){
    #filters {
        flex-direction: column;
    }
}

#filters h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#filters label {
    font-size: 20px;
    font-weight: 500;
}

#filters select {
    padding: 5px;
    border-radius: 5px;
    font-size: large;
    margin-right: 15px;
}

#search_bar {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

#search_bar input[type="search"]{
    float: left;
    width: 80%;
    margin: 5px 10px 0px 5px;
    display: block;
    padding: 14px;
    font-size:15px;
    border-radius: 7px;
    border: none;
    font-family: monospace;
}

#search_bar button {
    float: left;
    width: 20%;
    padding: 14px;
    margin: 5px 0px 0px 3px;
    border-radius: 7px;
    border: none;
    font-family: monospace;
    font-size: large;
}

/*to prevent text in button from overflowing when viewed on smaller screens*/
@media screen and (max-width: 500px){
    #search_bar button {
        font-size: 10px;
    }
}

#search_bar button:hover {
    background-color: #4f179e;
    color: white;
    cursor: pointer;
    font-weight: bold;
}