* {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #180632;
    font-family: monospace;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

.page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

/*navbar section*/

.navbar {
    background-color: #280659;
    overflow: hidden;
}

.navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 600px){
    .navbar ul {
        display: flex;
        flex-direction: column;
    }
}

.navbar ul li{
    float: right;
}

.navbar ul li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    display: block;
    padding: 14px;
}

.navbar ul li:hover{
    background-color: #4a1ba8;
}

/*Banner part*/

.top{
    padding: 20px 0px 20px 40px;
    width: 100%;
    margin-bottom: 20px;
}

/*main part of page*/

#main_section {
    border-radius: 5px;
    border: 3px solid azure;
    min-width: 95%;
    padding: 15px;
    text-align: left;
    margin-bottom: 20px;
}

.season_list {
    text-decoration: none;
    color: white;
}

.season_btn {
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
    width: 100%;
    text-align: left;
    background-color: rgb(58, 58, 68);
    color: white;
    padding: 5px;
    border: 3px solid rgb(58, 58, 68);
    border-radius: 5px;
    margin-bottom: 10px;
}

.season_btn:hover{
    border: 3px solid rgb(30, 30, 35);
    background-color: rgb(30, 30, 35);
    cursor: pointer;
}

.season_list {
    display: none;
    padding: 5px;
    background-color: rgb(23, 23, 27);
    
}

table {
    align-self: center;
    width: 100%;
    border-spacing: 7px;
}


.race_btn{
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid azure;
    background-color: #180632;
    border-radius: 7px;
    margin-bottom: 5px;
}

.race_btn:hover{
    background-color: azure;
    font-weight: bolder;
    color: black;
}

.race_btn a {
    text-decoration: none;
    color: white;
}

.race_btn:hover a {
    color:#000000;
}


