* {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #180632;
    font-family: monospace;
    color: white;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

.page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.navbar {
    background-color: #280659;
    overflow: hidden;
}

.navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar ul li{
    float: right;
}

.navbar ul li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    display: block;
    padding: 14px;
}

.navbar ul li:hover{
    background-color: #4a1ba8;
}

/*Banner part*/

.top{
    padding: 20px 0px 20px 40px;
    width: 100%;
    margin-bottom: 20px;
}

/*Watch lists section*/

.races{
    border-radius: 5px;
    background-color: rgb(23, 23, 27);
    border: 3px solid rgb(23, 23, 27);
    min-width: 95%;
    padding: 15px;
    text-align: left;
    margin-bottom: 20px;
}

.race {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    color:black;
    margin-bottom: 5px;
    padding: 0px 10px 0px 10px;
    min-width: 100%;
    border: 3px solid azure;
    border-radius: 5px;
    width: 100%;
}

.race {
    width: 100%;
    margin-right: 40px;
}

.race_title {
    width: 70%;
}

.race_buttons {
    margin: 0 auto;
    float: right;
    padding: 20px 10px 20px 10px;
}


.race_buttons button {
    min-height: 40px;
    width: 120px;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 3px;
    float: right;
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
    margin-right: 15px;
}

.race_buttons button:hover {
    background-color: #4717a7;
    color: white;
}

.races a {
    text-decoration: none;
    color: white;
}