<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="/static/search_style.css">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="{{url_for('logout')}}">Log Out</a></li>
            <li><a href="{{url_for('seasons')}}">Seasons</a></li>
            <li><a href="{{url_for('/visualisations/')}}">Visualisations</a></li>
            <li><a href="{{url_for('user_dashboard')}}">Profile</a></li>
            <li><a href="{{url_for('search')}}">Search</a></li>
        </ul>
    </div>
    <div class="page">
        <div class="content">
            <h1>Search for races</h1>
            <!-- Disclaimed added to help users understand how the search function works -->
            <p><strong>NOTE: </strong> To get the best results, search for races by entering the <italic>country</italic> in which the race occurs.</p>
            <form method="POST" action="{{url_for('search_results')}}" id="search_bar">
                {{ s_form.hidden_tag() }}
                <div id="search_container">
                    <!--filter dropdowns-->
                    <h3 onclick="showFilters()" id="filter_link">⮟ Filters: </h3>
                    <div id="filters" style="display: none;">
                        <label for="winners">Winning Driver: </label>
                        {{ s_form.dr_winner }}
                        <label for="winners">Winning Team: </label>
                        {{ s_form.team_winner }}
                        <label for="winners">Race Conditions: </label>
                        {{ s_form.conditions }}
                        <label for="condition">Season: </label>
                        {{ s_form.years }}
                    </div>
                    <!--search bar section-->
                    <div id="search_bar">
                        <input type="search" id="searched" name="searched" placeholder="Search">
                        <button type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <script>
        function showFilters() {
            let f = document.getElementById("filters")

            if (f.style.display === "none"){
                f.style.display = "block"
                document.getElementById("filter_link").innerHTML = "⮝ Filters: "
            } else {
                f.style.display = "none"
                document.getElementById("filter_link").innerHTML = "⮟ Filters: "
            }
        }
    </script>

</body>
</html>