<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seasons</title>
</head>
<body>
    <div class="page">
        <h2>2026 Season</h2>
        <div id="season_list">
        </div>
        <h2>2025 Season</h2>
        <div id="season_list">
            <ol>
                <li><a href="/all_seasons/2025/aus2025">2025 Australian GP</a></li>
            </ol>
        </div>
        <h2>2024 Season</h2>
        <div id="season_list"></div>
        <h2>2023 Season</h2>
        <div id="season_list"></div>
    </div> 
</body>
</html>