<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/seasons_style.css">
    <title>Seasons</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="{{url_for('logout')}}">Log Out</a></li>
            <li><a href="{{url_for('seasons')}}">Seasons</a></li>
            <li><a href="{{url_for('/visualisations/')}}">Visualisations</a></li>
            <li><a href="{{url_for('user_dashboard')}}">Profile</a></li>
        </ul>
    </div>
    <div class="page">
        <div class="top">
            <h1>All Seasons</h1>
        </div>
        <div id="main_section">
            <button onclick="showRaces('2026races', '2026btn')" class="season_btn" id="2026btn">➤ 2026 Season</button>
            <div class="season_list" id="2026races">
                                <table>
                    <tr>
                        <td><button class="race_btn"><a href="/all_seasons/2026/aus2026">Round 1: Australian GP 2026</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2026/china2026">Round 2: Chinese GP 2026</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2026/japan2026">Round 3: Japanese GP 2026</a></button></td>
                    </tr>
                    <tr>
                        <td><button class="race_btn"><a href="/all_seasons/2026/miami2026">Round 4: Miami GP 2026</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2026/canada2026">Round 5: Canada GP 2026</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2026/monaco2026">Round 6: Monaco GP 2026</a></button></td>
                    </tr>
                    <tr>
                        <td><button class="race_btn"><a href="/all_seasons/2026/spain2026">Round 7: Barcelona GP 2026</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2026/austria2026">Round 8: Austrian GP 2026</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2026/britain2026">Round 9: British GP 2026</a></button></td>
                    </tr>
                    <tr>
                        <td><button class="race_btn"><a href="/all_seasons/2026/belgium2026">Round 10: Belgian GP 2026</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2026/hungary2026">Round 11: Hungarian GP 2026</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2026/dutch2026">Round 12: Dutch GP 2026</a></button></td>
                    </tr>
                    <tr>
                        <td><button class="race_btn"><a href="/all_seasons/2026/monza2026">Round 13: Monza GP 2026</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2026/madrid2026">Round 14: Spanish GP 2026</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2026/baku2026">Round 15: Azerbaijan GP 2026</a></button></td>
                    </tr>
                    <tr>
                        <td><button class="race_btn"><a href="/all_seasons/2026/singapore2026">Round 16: Singapore GP 2026</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2026/cota2026">Round 17: United States GP 2026</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2026/mexico2026">Round 18: Mexico GP 2026</a></button></td>
                    </tr>
                    <tr>
                        <td><button class="race_btn"><a href="/all_seasons/2026/brazil2026">Round 19: Brazil GP 2026</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2026/vegas2026">Round 20: Las Vegas GP 2026</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2026/qatar2026">Round 21: Qatar GP 2026</a></button></td>
                    </tr>
                    <tr>
                        <td><button class="race_btn"><a href="/all_seasons/2026/abu_dhabi2026">Round 22: Abu Dhabi GP 2026</a></button></td>
                    </tr>
                </table>
            </div>
            <button onclick="showRaces('2025races', '2025btn')" class="season_btn" id="2025btn">➤ 2025 Season</button>
            <div class="season_list" id="2025races">
                <table>
                    <tr>
                        <td><button class="race_btn"><a href="/all_seasons/2025/aus2025">Round 1: Australian GP 2025</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2025/china2025">Round 2: Chinese GP 2025</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2025/japan2025">Round 3: Japanese GP 2025</a></button></td>
                    </tr>
                    <tr>
                        <td><button class="race_btn"><a href="/all_seasons/2025/bahrain2025">Round 4: Bahrain GP 2025</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2025/saudi2025">Round 5: Saudi Arabian GP 2025</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2025/miami2025">Round 6: Miami GP 2025</a></button></td>
                    </tr>
                    <tr>
                        <td><button class="race_btn"><a href="/all_seasons/2025/imola2025">Round 7: Emilia-Romagna GP 2025</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2025/monaco2025">Round 8: Monaco GP 2025</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2025/spain2025">Round 9: Spain GP 2025</a></button></td>
                    </tr>
                    <tr>
                        <td><button class="race_btn"><a href="/all_seasons/2025/canada2025">Round 10: Canada GP 2025</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2025/austria2025">Round 11: Austrian GP 2025</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2025/britain2025">Round 12: British GP 2025</a></button></td>
                    </tr>
                    <tr>
                        <td><button class="race_btn"><a href="/all_seasons/2025/belgium2025">Round 13: Belgian GP 2025</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2025/hungary2025">Round 14: Hungarian GP 2025</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2025/dutch2025">Round 15: Dutch GP 2025</a></button></td>
                    </tr>
                    <tr>
                        <td><button class="race_btn"><a href="/all_seasons/2025/monza2025">Round 16: Monza GP 2025</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2025/baku2025">Round 17: Azerbaijan GP 2025</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2025/singapore2025">Round 18: Singapore GP 2025</a></button></td>
                    </tr>
                    <tr>
                        <td><button class="race_btn"><a href="/all_seasons/2025/cota2025">Round 19: United States GP 2025</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2025/mexico2025">Round 20: Mexico GP 2025</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2025/brazil2025">Round 21: Brazil GP 2025</a></button></td>
                    </tr>
                    <tr>
                        <td><button class="race_btn"><a href="/all_seasons/2025/vegas2025">Round 22: Las Vegas GP 2025</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2025/qatar2025">Round 23: Qatar GP 2025</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2025/abu_dhabi2025">Round 24: Abu Dhabi GP 2025</a></button></td>
                    </tr>
                </table>
            </div>
            <button onclick="showRaces('2024races', '2024btn')" class="season_btn" id="2024btn">➤ 2024 Season</button>
            <div class="season_list" id="2024races">
                <table>
                    <tr>
                        <td><button class="race_btn"><a href="/all_seasons/2024/bahrain2024">Round 1: Bahrain GP 2024</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2024/saudi2024">Round 2: Saudi Arabian GP 2024</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2024/aus2024">Round 3: Australian GP 2024</a></button></td>
                    </tr>
                    <tr>
                        <td><button class="race_btn"><a href="/all_seasons/2024/china2024">Round 4: Chinese GP 2024</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2024/japan2024">Round 5: Japanese GP 2024</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2024/miami2024">Round 6: Miami GP 2024</a></button></td>
                    </tr>
                    <tr>
                        <td><button class="race_btn"><a href="/all_seasons/2024/imola2024">Round 7: Emilia-Romagna GP 2024</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2024/monaco2024">Round 8: Monaco GP 2024</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2024/canada2024">Round 9: Canada GP 2024</a></button></td>
                    </tr>
                    <tr>
                        <td><button class="race_btn"><a href="/all_seasons/2024/canada2024">Round 10: Spain 2024</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2024/austria2024">Round 11: Austrian GP 2024</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2024/britain2024">Round 12: British GP 2024</a></button></td>
                    </tr>
                    <tr>
                        <td><button class="race_btn"><a href="/all_seasons/2024/hungary2024">Round 13: Hungarian GP 2024</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2024/belgium2024">Round 14: Belgian GP 2024</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2024/dutch2024">Round 15: Dutch GP 2024</a></button></td>
                    </tr>
                    <tr>
                        <td><button class="race_btn"><a href="/all_seasons/2024/monza2024">Round 16: Monza GP 2024</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2024/baku2024">Round 17: Azerbaijan GP 2024</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2024/singapore2024">Round 18: Singapore GP 2024</a></button></td>
                    </tr>
                    <tr>
                        <td><button class="race_btn"><a href="/all_seasons/2024/cota2024">Round 19: United States GP 2024</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2024/mexico2024">Round 20: Mexico GP 2024</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2024/brazil2024">Round 21: Brazil GP 2024</a></button></td>
                    </tr>
                    <tr>
                        <td><button class="race_btn"><a href="/all_seasons/2024/vegas2024">Round 22: Las Vegas GP 2024</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2024/qatar2024">Round 23: Qatar GP 2024</a></button></td>
                        <td><button class="race_btn"><a href="/all_seasons/2024/abu_dhabi2024">Round 24: Abu Dhabi GP 2024</a></button></td>
                    </tr>
                </table>
            </div>
            <button onclick="showRaces('2023races', '2023btn')" class="season_btn" id="2023btn">➤ 2023 Season</button>
            <div class="season_list" id="2023races">
                <table>
                    <tr>
                        <td><button class="race_btn"><a href="">Round 1: Bahrain GP 2023</a></button></td>
                        <td><button class="race_btn"><a href="">Round 2: Saudi Arabian GP 2023</a></button></td>
                        <td><button class="race_btn"><a href="">Round 3: Australian GP 2023</a></button></td>
                    </tr>
                    <tr>
                        <td><button class="race_btn"><a href="">Round 4: Azerbaijan GP 2023</a></button></td>
                        <td><button class="race_btn"><a href="">Round 5: Miami GP 2023</a></button></td>
                        <td><button class="race_btn"><a href="">Round 6: Monaco GP 2023</a></button></td>
                    </tr>
                    <tr>
                        <td><button class="race_btn"><a href="">Round 7: Spain GP 2023</a></button></td>
                        <td><button class="race_btn"><a href="">Round 8: Canada GP 2023</a></button></td>
                        <td><button class="race_btn"><a href="">Round 9: Austrian GP 2023</a></button></td>
                    </tr>
                    <tr>
                        <td><button class="race_btn"><a href="">Round 10: British GP 2023</a></button></td>
                        <td><button class="race_btn"><a href="">Round 11: Hungarian GP 2023</a></button></td>
                        <td><button class="race_btn"><a href="">Round 12: Belgian GP 2023</a></button></td>
                    </tr>
                    <tr>
                        <td><button class="race_btn"><a href="">Round 13: Dutch GP 2023</a></button></td>
                        <td><button class="race_btn"><a href="">Round 14: Monza GP 2023</a></button></td>
                        <td><button class="race_btn"><a href="">Round 15: Singapore GP 2023</a></button></td>
                    </tr>
                    <tr>
                        <td><button class="race_btn"><a href="">Round 16: Japanese GP 2023</a></button></td>
                        <td><button class="race_btn"><a href="">Round 17: Qatar GP 2023</a></button></td>
                        <td><button class="race_btn"><a href="">Round 18: United States GP 2023</a></button></td>
                    </tr>
                    <tr>
                        <td><button class="race_btn"><a href="">Round 19: Mexico GP 2023</a></button></td>
                        <td><button class="race_btn"><a href="">Round 20: Brazil GP 2023</a></button></td>
                        <td><button class="race_btn"><a href="">Round 21: Las Vegas GP 2023</a></button></td>
                    </tr>
                    <tr>
                        <td><button class="race_btn"><a href="">Round 22: Abu Dhabi GP 2023</a></button></td>
                    </tr>
                </table>
            </div>
        </div> 
    </div>

    <script>
        function showRaces(id, btn_id) {
            let list = document.getElementById(id)

            if (list.style.display === "none"){
                list.style.display = "block"
                <!--change so that the innerhtml for each season button gets changed (maybe use if statement)-->
                if (btn_id == "2026btn"){
                    document.getElementById(btn_id).innerHTML = "⮟ 2026 Season"
                } else if (btn_id == "2025btn") {
                    document.getElementById(btn_id).innerHTML = "⮟ 2025 Season"
                } else if (btn_id == "2024btn") {
                    document.getElementById(btn_id).innerHTML = "⮟ 2024 Season"
                } else if (btn_id == "2023btn"){
                    document.getElementById(btn_id).innerHTML = "⮟ 2023 Season"
                }
            } else {
                list.style.display = "none"
                
                if (btn_id == "2026btn"){
                    document.getElementById(btn_id).innerHTML = "➤ 2026 Season"
                } else if (btn_id == "2025btn") {
                    document.getElementById(btn_id).innerHTML = "➤ 2025 Season"
                } else if (btn_id == "2024btn") {
                    document.getElementById(btn_id).innerHTML = "➤ 2024 Season"
                } else {
                    document.getElementById(btn_id).innerHTML = "➤ 2023 Season"
                }
            }
        }
    </script>
</body>
</html>