<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="container">
        <div class="form-box">
            <form method="POST" action="">
                <h1>Sign Up</h1>
                {{ form.hidden_tag ()}}
                {{ form.username }}
                {{ form.password }}
                {{ form.email }}
                {{ form.submit }}
                <!--
                <label for="username">Username: </label><br>
                <input type="text" id="username" name="username" placeholder="username"><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" placeholder="password"><br>
                <label for="email" id="email" name="email">Email Address:</label><br>
                <input type="email" id="email" name="email" placeholder="email address"><br>
                <button type="submit">Sign Up</button>
                -->
                <p>Already have an account? <a href="{{url_for('login')}}">Login here</a></p>
            </form>
        </div>
    </div>
</body>
</html>