<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/dashboard.css">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="{{url_for('logout')}}">Log Out</a></li>
            <li><a href="{{url_for('seasons')}}">Seasons</a></li>
            <li><a href="{{url_for('/visualisations/')}}">Visualisations</a></li>
            <li><a href="{{url_for('user_dashboard')}}">Profile</a></li>
        </ul>
    </div>
    <div class="page">
        <div class="top">
            <h1>Welcome back, {{current_user.username}}!</h1>
        </div>
        <div class="watchlists">
            <h2>Watch Lists</h2>
            {% if watchlists | length > 4 %}
                <p>Maximum number of watchlists reached! Please delete an existing watchlist before creating another</p>
            {% else %}
                <button class="button create-wl" onclick="makeWatchlist()">+ Create New List</button>
                <div id="add_wl">
                    <form method="POST" action="/user_dashboard">
                        {{wl_form.hidden_tag()}}
                        {{wl_form.name}}
                        {{wl_form.wl_submit}}
                    </form>
                </div>
                <!--<script> section below from w3schools: https://www.w3schools.com/howto/howto_js_toggle_hide_show.asp -->
                <script>
                    function makeWatchlist() {
                        const form = document.getElementById("add_wl");
                        if (form.style.display === "none") {
                            form.style.display = "flex";
                        } else {
                            form.style.display = "none";
                        }
                    }
                </script>
            {% endif %}
            <hr>
            <h3>My Watch Lists</h3>
            {% if watchlists | length < 1 %}
                <p>No watchlists yet...</p>
            {% else %}
                {% for watchlist in watchlists %}
                    <div class="wlist">
                        <div class="wlist_title">
                            <h4>{{watchlist.name}}</h4>
                        </div>
                        <div class="wlist_buttons">
                            <button><a href="/delete_wl/{{watchlist.id}}">Delete</a></button>
                            <button><a href="/watchlist/{{watchlist.id}}">View</a></button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <footer>
        <p>Here's the footer</p>
    </footer>
</body>
</html>