<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/dashboard.css">
</head>
<body>
    <!--There's a <nav> tag, maybe use that-->
    <div class="navbar">
        <ul>
            <li><a href="{{url_for('logout')}}">Log Out</a></li>
        </ul>
    </div>
    <div class="page">
        <div class="top">
            <h1>Welcome, User!</h1>
        </div>
        <div class="watchlists">
            <h1>My Watch Lists</h1>
            <button class="button create-wl" onclick="">+ Create New List</button>
            <hr>
            <button class="button wl-button" onclick="alert ('Hello!')">Watch List 1</button>
        </div>
        <div></div>
    </div>
    <footer>
        <p>Here's the footer</p>
    </footer>
</body>
</html>